body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.corpo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;

}
#corpo{
    display: flex;
    align-items: center;
    justify-content: center;

}